#
# SNSC related configurations
#

config SNSC_NLVER_CUSTOMVER_ENABLE
	bool 'Use custom kernel version'
  	depends on SNSC

config SNSC_NLVER_CUSTOMVER
   	string 'Custom kernel version'
   	depends on SNSC_NLVER_CUSTOMVER_ENABLE
   	depends on SNSC

config SNSC_NLVER_REPOSITORYVERSION_AUTO
  	bool 'Embed git/arch repository revision'
   	depends on SNSC

config SNSC_NLVER_NBLVER
   	bool 'Add support of NBL version'
   	depends on SNSC
   	depends on SNSC_NBLARGS
  	default y if ARM
   	default n

config SNSC_BOOT_FORMAT
	bool "Select kernel image format"
   	depends on SNSC
   	default n

config SNSC_BOOT_BIN
   	bool "Raw Binary"
   	depends on SNSC_BOOT_FORMAT
   	default n

config SNSC_BOOT_BIN_GZ
   	bool "Gzipped Raw Binary"
   	depends on SNSC_BOOT_FORMAT
   	default n

config SNSC_BOOT_ELF
   	bool "Stripped ELF"
   	depends on SNSC_BOOT_FORMAT
   	default n

config SNSC_BOOT_ELF_GZ
   	bool "Gzipped & Stripped ELF"
   	depends on SNSC_BOOT_FORMAT
   	default n

config SNSC_INITRD_MNTPT
	string 'Initrd mount point after boot.'
	depends on SNSC
	depends on BLK_DEV_INITRD
	default "/initrd"

config SNSC_ROOTDEV_AFTER_INITRD
	bool 'Use root filesystem on block device insmod by initrd'
	depends on SNSC
	depends on BLK_DEV_INITRD

config SNSC_DEFERRED_INITCALLS
	bool 'Support for deferred initcalls'
	depends on SNSC
	depends on ARM
	default n

config SNSC_DEFERRED_INITCALLS_SCSI
	bool 'Enable deferred initcalls for SCSI'
	depends on SNSC_DEFERRED_INITCALLS
	depends on SCSI
	default n

config SNSC_DEFERRED_INITCALLS_GROUP_BLK_DEV_SD
	int 'Group number for SCSI disk driver (0-31)'
	depends on SNSC_DEFERRED_INITCALLS_SCSI
	depends on BLK_DEV_SD
	default 16

config SNSC_DEFERRED_INITCALLS_USB
	bool 'Enable deferred initcalls for USB'
	depends on SNSC_DEFERRED_INITCALLS
	depends on USB
	default n

config SNSC_DEFERRED_INITCALLS_GROUP_USB_HCD
	int 'Group number for USB Host Controller drivers (0-31)'
	depends on SNSC_DEFERRED_INITCALLS_USB
	depends on USB_EHCI_HCD || USB_OHCI_HCD
	default 16

config SNSC_DEFERRED_INITCALLS_GROUP_USB_STORAGE
	int 'Group number for USB Storage driver (0-31)'
	depends on SNSC_DEFERRED_INITCALLS_USB
	depends on USB_STORAGE
	default 16

config SNSC_DEFERRED_INITCALLS_GROUP_USB_VIDEO_CLASS
	int 'Group number for USB Video Class driver (0-31)'
	depends on SNSC_DEFERRED_INITCALLS_USB
	depends on USB_VIDEO_CLASS
	default 16

config SNSC_NULL_CONSOLE
	bool 'Support for NULL console'
  	depends on SNSC

config SNSC_LOOPBACK_SCHED_OPTION
       bool 'Set scheduler policy/priority for loopback device'
       depends on SNSC
       depends on BLK_DEV_LOOP
       select SNSC_SET_THREAD_PRIORITY

config SNSC_LOOPBACK_SCHED_POLICY
       int 'Scheduler Policy(0=NORMAL, 1=FIFO, 2=RR)'
       depends on SNSC
       depends on SNSC_LOOPBACK_SCHED_OPTION
       default 2

config SNSC_LOOPBACK_SCHED_PRIORITY
       int 'Scheduler Priority(NORMAL:-20..19, FIFO/RR:1..99)'
       depends on SNSC
       depends on SNSC_LOOPBACK_SCHED_OPTION
       default 99

config SNSC_KSWAPD_SCHED_OPTION
       bool 'Set scheduler policy/priority for kswapd'
       depends on SNSC
       select SNSC_SET_THREAD_PRIORITY

config SNSC_KSWAPD_SCHED_POLICY
       int 'Scheduler Policy(0=NORMAL, 1=FIFO, 2=RR)'
       depends on SNSC
       depends on SNSC_KSWAPD_SCHED_OPTION
       default 2

config SNSC_KSWAPD_SCHED_PRIORITY
       int 'Scheduler Priority(NORMAL:-20..19, FIFO/RR:1..99)'
       depends on SNSC
       depends on SNSC_KSWAPD_SCHED_OPTION
       default 99

config SNSC_KSOFTIRQD_SCHED_OPTION
       bool 'Set scheduler policy/priority for ksoftirqd'
       depends on SNSC
       select SNSC_SET_THREAD_PRIORITY

config SNSC_KSOFTIRQD_SCHED_POLICY
       int 'Scheduler Policy(0=NORMAL, 1=FIFO, 2=RR)'
       depends on SNSC
       depends on SNSC_KSOFTIRQD_SCHED_OPTION
       default 2

config SNSC_KSOFTIRQD_SCHED_PRIORITY
       int 'Scheduler Priority(NORMAL:-20..19, FIFO/RR:1..99)'
       depends on SNSC
       depends on SNSC_KSOFTIRQD_SCHED_OPTION
       default 99

config SNSC_WORKQUEUE_SCHED_OPTION
       bool 'Set scheduler policy/priority for workqueue'
       depends on SNSC
       select SNSC_SET_THREAD_PRIORITY

config SNSC_WORKQUEUE_SCHED_POLICY
       int 'Scheduler Policy(0=NORMAL, 1=FIFO, 2=RR)'
       depends on SNSC
       depends on SNSC_WORKQUEUE_SCHED_OPTION
       default 2

config SNSC_WORKQUEUE_SCHED_PRIORITY
       int 'Scheduler Priority(NORMAL:-20..19, FIFO/RR:1..99)'
       depends on SNSC
       depends on SNSC_WORKQUEUE_SCHED_OPTION
       default 99

config SNSC_NBLARGS
	bool 'Use NBLArgs to pass data from bootloader to kernel'
	depends on SNSC

config SNSC_NBLARGS_RESERVE_ENTRY_REGION
	bool 'Reserve NBLArgs entry region to prevent kernel using that area.'
	depends on SNSC_NBLARGS
	default n
