choice
	prompt "UART Number for DEBUG_LL console"
	default CXD90014_DEBUG_UART0
config CXD90014_DEBUG_UART0
	bool "UART0"
config CXD90014_DEBUG_UART1
	bool "UART1"
config CXD90014_DEBUG_UART2
	bool "UART2"
endchoice

config CXD90014_DEBUG_UART_NO
	int
	default 0 if CXD90014_DEBUG_UART0
	default 1 if CXD90014_DEBUG_UART1
	default 2 if CXD90014_DEBUG_UART2

config CXD90014_UART_IO_INIT
	bool "Initialize UART I/O pin"
	depends on !CXD90014_FPGA
	default n
